<div *ngIf="loaded">
  <div class="container">
    <div id="list">
      <div *ngFor="let row of leaderBoard.Rows">
        <div class="pos" [style.background]="row.Rank===1?'#FEE101':row.Rank===2?'#D7D7D7':row.Rank===3?'#A77044':'#f4ffff'" >{{row.Rank}}</div>
        <div class="item shadow">
          <div class="name line-height">{{row.Name}}</div>
          <div class="score line-height">{{row.Score}}</div>
          <div class="rank-status line-height">
            <i *ngIf="row.RankStatus===0" class="fas fa-arrow-up" [style.color]="'lime'"></i>
            <i *ngIf="row.RankStatus===2" class="fas fa-arrow-up fa-rotate-180" [style.color]="'#ff3300'"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
