.header{
  font-size: 50px;
  width: 100%;
  text-align: center;
}
.header h2{
  margin-top: 40px;
  margin-bottom: 20px;
}
hr.style-two {
  margin-bottom: 0;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.content{
  margin-left: 5%;
  margin-right: 5%;
}
