<div class="header" *ngIf="slideNumber>0">
  <h2>De Statistieken</h2>

</div>
<hr *ngIf="slideNumber>0" class="style-two">

<div class="content">
  <div *ngIf="slideNumber===0">
    <one-word [word]="'Pauze !'"></one-word>
  </div>
  <div *ngIf="slideNumber===1">
    <app-leader-board></app-leader-board>
  </div>
  <div *ngIf="slideNumber===2" class="graph">
    <app-bar-graph></app-bar-graph>
  </div>
  <div *ngIf="slideNumber===3" class="graph">
    <app-line-graph></app-line-graph>
  </div>
</div>
