<div *ngIf="loaded">
  <div class="input-container">
    <div class="team-container">
      <div *ngFor="let team of teams, index as i">
        <div class="form-group">
          <label>Team:
            <input type="text" class="input-team-name" [(ngModel)]="team.Name">
            Score <b>{{team.Sum()}}</b> | Plaats: <b>{{team.rank}}</b> | (vorige plaats: <b>{{team.previousrank}}</b>)
          </label>
          <button class="btn btn-success" (click)="removeTeam(team)">Verwijder dit team</button>
            <div class="rounds">
              <label>Ronde </label>
              <div *ngFor="let round of team.Scores, index as roundNumber" class="round">
                <label class="field">{{roundNumber + 1}}:</label>
                <input class="round-input field" type="number" [valueAsNumber]="round"
                       (input)="team.SetRound($event,roundNumber)">
              </div>
            </div>
            <hr>
        </div>
      </div>
    </div>
    <div class="bottom-buttons">
      <button type="button" class="btn btn-success" (click)="addRound()">Add Round</button>
      <button type="button" class="btn btn-success" (click)="removeRound()">Remove Round</button>
      <button type="button" class="btn btn-success" (click)="addTeam()">Add Team</button>
      <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
    </div>
  </div>


