.rounds{
  position: relative;
  margin-top: 5px;
}

.round{
  display: inline-block;
}

.round-input{
  width: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.field{
  margin-right: 10px;
}

.form-group{
  margin-bottom: 25px;
}

.input-team-name{
  width: 250px;
}

.input-container{
  margin-top: 20px;
  margin-left: 20px;
}

.team-container{
  overflow-y: scroll;
  width: 1200px;
  height: 82vh;
  background-color: rgba(250, 235, 215, 0.62);
  padding: 15px
}

.bottom-buttons{
  margin-top: 25px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
