.container{
  margin-left: 27%;
  margin-right: 27%;
  margin-bottom: 30%;
  padding: 35px;
  height: 80%;
}

.item{
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #FFACAC;
  border-radius: 7px;
  margin-bottom: 16px;
  font-family: Aero;
  font-size: 22px;
}

#list{
  position: relative;
  /*transform: translateY(-130%);*/
}

#list.active{
  transition: 8000ms linear;
  transition-delay: 100ms;
  transform: translateY(0);
  position: relative;
}

.pos{
  display: inline-block;
  position: absolute;
  margin-left: -19px;
  margin-top: -7px;
  float: left;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 4px;
  font-family: Aero;
  font-size: 30px;
  background: #fff;
  border: 2px solid #292929;
  color: #2d2d2d;
  text-align: center;
  opacity: 1;
  z-index: 50;
}

.item-container{
  transition: 0.7s ease-in-out;
  opacity: 0.7;
}

.line-height{
  padding-top: 7px;
}

.name{
  margin-left: 40px;
  position:relative;
  flex-grow: 3;
}

.score{
  margin-right: 15px;
  text-align: right;
  position:relative;
  width: 0;
  flex-grow: 1;
}

.rank-status{
  width: 0px;
  flex-grow: 0;
  position:relative;
  left: 15px;
  display: inline-block;
}

.active{
  transition: transform 1s ease-in-out, margin 0.65s linear;
  transform: scale(1.5);
  margin-bottom: 60px;
  opacity: 1;
}

.amount{
  position: absolute;
  left: 30px;
  top: 7px;
}

.header-leaderboard{
  width: 100%;
  text-align: center;
  font-size: 70px;
}

.header-leaderboard h2{
  margin-bottom: 10px;
  margin-top: 50px;
}




