$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 20;

body {
  margin: 0;
}

.background-extra{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background:  linear-gradient(68deg, rgb(165, 255, 199) 0%, rgba(252,216,158,1) 41%, rgba(253,230,124,1) 68%, rgba(255, 165, 250, 0.8) 100%);
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
}

.background {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: #3E1E68;
  z-index: -1;
  overflow: hidden;
}

.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 2;
  $colors: (
    rgba(141, 192, 232, 0.87),
    #E45A84,
    rgba(127, 225, 128, 0.65),
    #FFACAC,
    rgba(255, 254, 159, 0.83)
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
