@font-face {
  font-family: BlackBird;
  src: local("BlackBird.ttf"), url("assets/Blackbird.ttf") format('truetype');
}

@font-face {
  font-family: GreatDay;
  src: local("GreatDay.ttf"), url("assets/GreatDay.ttf") format('truetype');
}

@font-face {
  font-family: Aero;
  src: local("Aero2.ttf"), url("assets/Aero2.ttf") format('truetype');
}

body{
  overflow: hidden;
}


h2 {
  font-family: BlackBird;
}

.graph {
  margin-top: 125px;
}

.shadow {
  opacity: 0.73;
  -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
}


